<div class="animate__animated animate__fadeIn">
    <video id="videoBG" autoplay muted loop>
        <source src="video/particles.mp4" type="video/mp4">
    </video>
</div>
<main class="container animate__animated animate__fadeIn m-5-top">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="title" type="text" class="validate">
                    <label for="title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="title" type="text" class="validate">
                    <label for="topic">Topic</label>
                </div>
            </div>
        </form>
    </div>

    <!-- Create the editor container -->
    <div id="editor">
        <h1>Type your article here!</h1>
    </div>

    <button
        class="btn-large waves-effect waves-light m-25-top corner-med transparent border-grey grey-text text-lighten-3 roboto 400">Submit
        <i class="material-icons right">send</i>
    </button>
</main>