<video id="videoBG-ink" class="animate__animated animate__fadeIn" autoplay muted loop>
    <source src="video/ink.mp4" type="video/mp4">
</video>
<main class="container animate__animated animate__fadeIn m-5-top reading">
    <div class="container flow-text">
        <h1 class="zero roboto">Title of the article</h1>
        <h2 class="zero m-1-top roboto">Ethan Harsh</h2>
        <p class="charter grey-text text-darken-3">March 1, 2021 - 5 min read</p>
        <p class="m-5-top text-flow charter">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea
            perspiciatis
            minima praesentium dolorem
            debitis,
            aperiam maxime incidunt ipsa obcaecati deserunt non quam corporis, voluptatum officiis vel distinctio at
            saepe reprehenderit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum error ab distinctio
            commodi! Facere sequi omnis reiciendis, adipisci consequuntur qui minus, rerum eligendi numquam
            voluptatum
            dignissimos atque perferendis, nemo blanditiis?Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Modi, voluptatem eaque et repellendus tempore nobis accusantium labore vel quia porro a qui. Nisi, at
            quisquam. Doloribus unde non numquam Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus rem
            exercitationem iste vero recusandae cupiditate, nobis, rerum consequatur cum, vel ipsa accusamus
            ratione.
            Cumque aut fugit incidunt eveniet, porro veritatis Lorem ipsum dolor sit amet consectetur adipisicing
            elit.
            Hic, veniam quod repellat reiciendis commodi iure laborum illum esse tempora nam laboriosam consectetur
            labore, non fugit id, sequi cumque et officia! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Harum, repudiandae suscipit vitae vero voluptates sapiente placeat repellendus minus ea quisquam
            delectus
            voluptas assumenda optio totam iste atque neque nam ipsum.</p>
    </div>
</main>